body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFE0E0;
    
}
.navbar {
     background-color: #FFB8B8;
     padding: 10px;
     margin: 0;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li{
    padding-left: 0;
}

.menu li a{
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    color: black;
}

.menu li a:hover{
    background-color: #FF7D7D;
}

.logo {
    font-size: 14pt;
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2, h3{
    text-align: center;
    font-weight: bold;
}

.header{
    padding: 10px;
    text-align: center;
    font-size: small;
}

.main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-align: center;
}

.item{
    font-weight: bold;
}

.icon img{
    width: 200px;
    height: 200px;
    
}


.footer{
    background-color: #FFB8B8;
    text-align: center;
    font-size: small;
    padding: 5px;
}

.row{
    display: flex;
    justify-content: space-around;
    font-size: small;
    margin: 0;
}

.item-row{
    text-align: left;
}
