body{
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #FCEDD8;
    padding-left: 50px;  
    padding-right: 50px;
    padding-top: 10px;
}
.navbar{
    align-items: center;
    padding: 5px;
    margin: auto;
    background-color: #FFB8B8;
    border-radius: 40px;
    border: 3px solid #B0183D;
    box-shadow: 4px 4px #B0183D;
}
.logo{
    color: #B0183D;
    font-size: 14pt;
    font-weight: bold;
}
.container{
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li{
    padding-left: 10px;
}

.menu li a{
    font-size: small;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    color: #B0183D;
}
.menu li a:hover{
    color: #FCEDD8;
    background-color: #B0183D;
    border-radius: 40px;
    font-weight: bold;
}
.header{
    display: flex;
    width: 15%;
    background-color: #a983eb;
    border-radius: 40px;
    height: 30px;
    margin-top: 50px;
    padding: 5px;
    color: #49326e;
    border: 3px solid #49326e;
    box-shadow: 4px 4px #49326e;
    font-weight: bold; 
    font-size: large;
    text-align: center;
    justify-content: center;
    align-items: center; 
}

.main-profil{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-rows: 250px 40px 40px;
    gap: 10px;
    margin-top: 20px;
    text-align: center;
}
.profil-1{
    background-color: white;
    border-radius: 10px;
    grid-area: 1 / 1 / 2 / 2;
    padding: 5px;
    
}
.profil-2{
    background-color: white;
    border-radius: 10px;
    grid-area: 1 / 2 / 4 / 4;
    padding: 50px;
}
.profil-3{
    background-color: #ffd464;
    border-radius: 10px;
    grid-area: 2 / 1 / 3 / 2;
    color: #b17f00;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
}
.profil-4{
    background-color: #b1e7f2;
    border-radius: 10px;
    grid-area: 3 / 1 / 4 / 2;
    color: #2f7685;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
}
.profil-1 img{
    height: 200px;
    width: 200px;
    place-items: center;
    margin-top: 20px;
}
.profil-2 h1{
    text-align: left;
}
.profil-2 p{
    text-align: left;
}
.main-projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    margin-top: 40px;
    text-align: center;
}
.projects-grid1{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 250px 70px;
    height: auto;
    padding: 20px;
    gap: 20px;
    background-color: #ffd464;
    border-radius: 10px;
}
.projects-grid2{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 250px 70px;
    height: auto;
    padding: 20px;
    gap: 20px;
    background-color: #FFB8B8;
    border-radius: 10px;
}
.projects-grid3{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 250px 70px;
    height: auto;
    padding: 20px;
    gap: 20px;
    background-color: #b1e7f2;
    border-radius: 10px;
}
.projects-1{
    background-color: #FCEDD8;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.projects-2{
    background-color: #fabc19;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.projects-3{
    background-color: #ff9c9c;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.projects-4{
    background-color: #78d1e3;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.projects-1 img{
    width: 200px;
    height: 200px;
}
.main-projects a{
    font-weight: bold;
    font-size: medium;
    text-decoration: none;
    color: #FCEDD8;
}
.main-experiences{
    display: grid;
    margin-top: 30px;
    grid-template-rows: repeat(3, 250px);
    row-gap: 50px;
}
.main-experiences h2{
    text-align: left;
}
.main-experiences h4{
    text-align: left;
    color: grey;
}
.main-experiences li{
    text-align: left;
    font-size: small;
    line-height: 1.5;
}
.exp-1{
    background-color: white;
    border: 4px solid #ffd464;
    box-shadow: 15px 15px #fabc19;
    border-radius: 20px;
    padding-top: 10px;
    padding-left:30px;
}
.exp-2{
    background-color: white;
    border: 4px solid #FFB8B8;
    box-shadow: 15px 15px #ff9c9c;
    border-radius: 20px;
    padding-top: 10px;
    padding-left:30px;
}
.exp-3{
    background-color: white;
    border: 4px solid #b1e7f2;
    box-shadow: 15px 15px #78d1e3;
    border-radius: 20px;
    padding-top: 10px;
    padding-left:30px;
}
.main-contacts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    background-color: #ff9c9c;
    border-radius: 30px;
    gap: 10px;
    margin-bottom: 50px;
}
.contacts{
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.contacts img{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}
.contacts a{
    text-decoration: none;
    font-size: medium;
    padding: 10px;
    color: #B0183D;
    text-align: center;
}
.contacts a:hover{
    color: #FCEDD8;
    background-color: #B0183D;
    border-radius: 40px;
    font-weight: bold;
}